* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$menu_color: #222;
$bg_color: #303133;


.wrapper {
    background-color: $bg_color;
    max-width: 1900px;
    height: 100vh;
    .header {
        padding: 0 10px;
        max-height: 70px;
        border-bottom: 1px solid black;
        background-color: $menu_color;
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
        margin-bottom: 30px;
         .burger {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            &.active {
                transform: translateX(200px);
                transition: transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            & span, span::before, span::after {
                width: 100%;
                position: absolute;
                height: 3px;
                background-color: hsla(0,0%,100%,0.125);
                display: block;
                transition: .3s;
                border-radius: 15px;
                

                
            }
            &:hover span, 
            &:hover span::before, 
            &:hover span::after {
                background-color: white;
                transition: background-color .3s ease-in-out;
            }
            & span::before {
                content: "";
                top: -10px;
                transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            & span {
                top: 20px;
                
                
            }
            & span::after {
                content: "";
                bottom: -10px;
                transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            & span.active::before {
                content: "";
                background-color: white;
                top: 0px;
                transform: rotate(45deg);
                transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            & span.active::after {
                content: "";
                background-color: white;
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            & span.active {
                background-color: transparent;
                transition: transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
         }
        
        &__search {
            margin-bottom: 15px;
            & svg {
                position: relative;
                left: 23px;
            }
            & input {
                padding: 7px 30px 7px 30px;
                border-radius: 8px;
                border: 1px solid hsla(0,0%,100%,0.125);
                background-color: $menu_color;
                transition: border .3s linear;
                &:hover {
                    border-color: white;
                    transition: all .3s linear;
                }
                &:focus-visible {
                    outline: none;
                    border-color: white;
                    color: white;
                }

            }
        }
    }
    &__todo {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
        background-color: $menu_color;
        border-radius: 10px;
        & h2 {
            text-align: center;
            color: white;
            width: 100%;
            margin-bottom: 10px;
        }
        & input {
            padding: 7px 30px 7px 30px;
            border-radius: 8px;
            border: 1px solid hsla(0,0%,100%,0.125);
            background-color: $menu_color;
            transition: border .3s linear;
            width: 75%;
            margin-bottom: 20px;
            &:hover {
                border-color: white;
                transition: all .3s linear;
            }
            &:focus-visible {
                outline: none;
                border-color: white;
                color: white;
            }
            
        }
        & .btn-add {
            width: 20%;
            color: white;
            background-color: $bg_color;
            border: 1px solid rgba(255,255,255,.125);
            border-radius: 10px;
            padding: 7px 30px 7px 30px;
            transition: all .3s linear;
            &:hover {
                border-color: white;
                transition: all .3s linear;
                cursor: pointer;
            }
        }
        & .todo__list {
            list-style: none;
            width: 100%;
            & li {
                cursor: pointer;
                position: relative;
                padding: 12px 8px 12px 40px;
                font-size: 18px;
                transition: 0.2s;
                user-select: none;
                list-style-type: none;
                color: white;
            }
        }
        .checked {
            text-decoration: line-through;
        }
        .checked::before {
            content: '';
            position: absolute;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 10px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
        }
        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px 16px 12px 16px;
        }
        
        .close:hover {
            background-color: #f44336;
            color: white;
        }
    }
}

.menu {
    padding: 0 10px;
    max-width: 200px;
    width: 100%;
    background-color: $menu_color;
    height: 100vh;
    padding-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-203px);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.active {
        transform: translateX(0px);
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }
    
    &__logo {
        max-width: 60px;
        margin: 0 auto;
        margin-bottom: 20px;
        
    }
    &__nav {
        & a {
            text-decoration: none;
            color: white;
        }
        & li {
            list-style-type: none;
            &::before {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 12px;
                    background-color: none;
                    position: relative;
                    left: -10px;
            }
            &:hover {
                &::after {
                    transform: rotate(0deg);
                    transition: transform .3s ease;
                }
                &::before {
                    background-color: white;
                    transition: background-color .3s ease-in;                    
                }
            }
        }
        & li:not(:last-of-type) {
            margin-bottom: 20px;
        }
        & li::after {
            content: '';
            display: inline-block;
            background-image: url(../media/arrow.svg);
            width: 10px;
            height: 6px;
            position: relative;
            left: 7px;
            transform: rotate(90deg);
            transition: transform .3s ease;
        }

        & .dropdown-content {
            margin: 5px;
            max-width: 100px;
            padding: 0 10px 10px 10px;
            display: none;

            &.show {
            display: block;
            }
        }
        
    }
}

.mb20 {
    margin-bottom: 20px;
}